.contenedor {
  min-height: 20rem;
  width: 100%;
  background-color: white;
}

.contenedor-usuarios {
  display: flex;
  flex-direction: column;
}

.usuario {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 2rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}

.usuario:hover {
  background-color: #e6e6e6;
}

.datos-usuario {
  display: flex;
  flex-direction: column;
}

.estado-usuario {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid gray;
}

.aceptado {
  background-color: rgb(0, 173, 0);
}

.pendiente {
  background-color: rgb(233, 190, 0);
}
